---
layout: archive 
title: "Projects"
permalink: /teaching/
author_profile: true
---
<h1>All of my projects are <a href='https://github.com/Nirav-1999?tab=repositories'>here</a> of course!</h1> 

<!-- <a href="https://github.com/Nirav-1999/3DFace">
  <h2>3D Face</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>Autonomous Underwater Vehicle</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>E-yantra</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>Face and Emotion Recognition</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>FarmEasy</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>ScanIt</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>GraphVision</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>SpeakSQL</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>Skin Cancer</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>Tasveer</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>Expensit</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>BE-Arxiv</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>Mini Projects</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>Melodify</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>Railway Concession</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>Crowd Funding</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>Indian Development Foundation</h2>
</a>
<a href="https://github.com/Nirav-1999/3DFace">
  <h2>BE-Arxiv</h2>
</a>
 -->

{% include base_path %}


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
